@import url('https://v1.fontapi.ir/css/Lalezar');
@import url('https://v1.fontapi.ir/css/Vazir');
@import url('https://v1.fontapi.ir/css/Sahel');
/*fonts*/
body {
    background-image: url(../images/background.png);
    margin: 0%;
    padding: 0%;
    direction: rtl;
}
div.hotbar{
    direction: rtl;
    margin:  0%;
    padding: 2% 0%;
    display:block;
    font-family:fantasy;
    color: rgb(255, 255, 255);
    flex-direction: row;
    align-content: left;
    user-select: none;
}
a{
    margin: 0%1%0%5%;
    font-size: 200%;
    font-family: Vazir;
    display: inline;
    color: rgb(208, 205, 212);
}
hr{
    height: 5px;
    width: 100%;
    background-color: rgb(48, 252, 96);
    border: none;
}
p{
    text-align: center;  
    font-size: 200%;
    font-family: Vazir;
}
button.enter{
    margin:  1% 0%;
    font-size: 200%;
    align-self: center;
    width: 20%;
    background-color: rgb(48, 252, 96);
    font-family: Vazir;
}
img{
    border-radius: 100%;
}